<header>
    <div class="nav-wrapper">
        <nav class="navbar">
            <ul>
                <li id="home" class="tab">HOME</li>
                <li class="tab">STUDENT</li>
                <li class="tab">TEACHER</li>
                <li class="tab">Non-Teaching</li>
                <li class="tab">ASSETS</li>
                <!--Test-tabs--><li class="tab" (click)="displayTable()">Show Table</li>
            </ul>
        </nav>
    </div>
</header>

<main>
    <section *ngIf="genTable">
            <app-gen-table></app-gen-table>
    </section>
</main>

<footer>
    <ul>
        <li>This is a Test-Page</li>
        <li id="author">Created By:-<i>Srayan Ray</i></li>
    </ul>
</footer>
<router-outlet></router-outlet>
